<div class="card mb-3" style="max-width: 100%">
  <div class="row g-0">
    <div class="col-md-2">
      <img src="/img/perfil/{{cliente.foto}}" class="img-fluid rounded-circle mi-img-perfil p-3" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h1 class="card-title text-start">{{cliente.nombre}}</h1>
        <h3 class="card-title text-start">Bienvenid@ a Tu Sitio Privado</h3>
        <p class="text-start"><a href="/dashboard/datos-personales">datos personales</a> | <a href="/">cerrar sesión</a> | <a href="#" class="text-danger">eliminar cuenta</a></p>
      </div>
    </div>
  </div>
</div>