<div class="card mb-3" style="max-width: 100%">
  <div class="row g-0">
    <div class="col-md-2">
      <img src="/img/perfil/{{asesor.foto}}" class="img-fluid rounded-circle mi-img-perfil p-3" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h1 class="card-title text-start">{{asesor.nombre}}</h1>
        <h3 class="card-title text-start">Administrador De Asesorías</h3>
        <p class="text-start"><a href="/">cerrar sesión</a></p>
      </div>
    </div>
  </div>
</div>