<div class="card mx-3 mb-3" style="max-width: 100%">
  <div class="row g-0">
    <div class="col-md-2">
      <img src="/img/perfil/{{cliente.foto}}" class="img-fluid rounded-circle mi-img-perfil p-3" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h1 class="card-title text-start">{{cliente.nombre}}</h1>
        <h3 class="card-title text-start">Bienvenid@ a Tu Sitio Privado</h3>
        <p class="text-start"><a href="/dashboard/datos-personales">datos personales</a> | <a href="/">cerrar sesión</a> | <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">eliminar cuenta</a></p>
      </div>
    </div>
  </div>
</div>

<!--<div class="card mx-3 mb-3" style="max-width: 100%">
  <div class="row g-0">
    <div class="col-md-12">
      <div class="card-body">
          <p><i class="bi bi-coin"></i> Ingresa tus datos financiero</p>
          <p><i class="bi bi-calculator-fill"></i> Presiona el botón calcular para ver tus indicadores</p>
          <p><i class="bi bi-headset"></i> Presiona el botón asesorías para agendar una cita y conversar con un asesor</p>
      </div>
    </div>
  </div>
</div>-->

<div class="mx-3 mb-3">
  <p><i class="bi bi-coin"></i> Ingresa tus datos financiero</p>
  <p><i class="bi bi-calculator-fill"></i> Presiona el botón calcular para ver tus indicadores</p>
  <p><i class="bi bi-headset"></i> Presiona el botón asesorías para agendar una cita y conversar con un asesor</p>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alerta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Está seguro que desea eliminar su cuenta de cliente?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <a href="/dashboard/eliminar" class="btn btn-danger">Si</a>
      </div>
    </div>
  </div>
</div>