<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Galería de íconos desde Font Awesome -->
<script src="https://kit.fontawesome.com/9bbe0be035.js" crossorigin="anonymous"></script>

<!-- Estilos de fuentes desde Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

<!-- Boostrap 5.1.3 -->
<link rel="stylesheet" href="/bootstrap/bootstrap.css"/>

<!-- Mi estilo css -->
<link rel="stylesheet" href="/css/style.css">

<title>ALMA finan$iera</title>