<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/finanzas.jpeg" class="d-block mi-img-carrusel" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="bg-dark">First slide label</h5>
        <p class="bg-dark">Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/img/ingresos.jpeg" class="d-block mi-img-carrusel" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="bg-dark">Ingresos</h5>
        <p class="bg-dark">La generación de ingresos es la base de cualquier análisis financiero. Sin ingresos, no puedes crear valor.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/img/carga.jpeg" class="d-block mi-img-carrusel" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="bg-dark">Carga Financiera</h5>
        <p class="bg-dark">Es el porcentaje de nuestros ingresos que tenemos que destinar al pago de nuestras deudas, mensualmente. La carga financiera está compuesta por la suma de todas las deudas financieras que paga una persona o su grupo familiar.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>