<div id="carouselExampleCaptions" class="carousel slide mi-carrusel-ver" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active mi-carrusel">
      <img src="/img/finanzas.jpeg" class="d-block rounded-pill" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p class="bg-light text-dark fs-1 p-2 border border-info border-3 rounded">¡ ¡ ¡ Bienvenid@ ! ! !</p>
      </div>
    </div>
    <div class="carousel-item mi-carrusel">
      <img src="/img/ingresos.jpeg" class="d-block rounded-pill" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p class="bg-light text-dark p-2 border border-info border-3 rounded">Ingresos: Son todos los recursos o entradas de dinero de los que se dispone. Por ejemplo, salarios, boletas de honorarios, rentas de arrinedo, etc..</p>
      </div>
    </div>
    <div class="carousel-item mi-carrusel">
      <img src="/img/carga.jpeg" class="d-block rounded-pill" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p class="bg-light text-dark p-2 border border-info border-3 rounded">Carga Financiera: Es el porcentaje de nuestros ingresos que tenemos que destinar al pago de nuestras deudas, mensualmente. La carga financiera está compuesta por la suma de todas las deudas financieras que paga una persona o su grupo familiar.</p>
      </div>
    </div>
    <div class="carousel-item mi-carrusel">
      <img src="/img/leverage.jpeg" class="d-block rounded-pill" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p class="bg-light text-dark p-2 border border-info border-3 rounded">Leverage (apalancamiento): Se refiere a la utilización de fondos prestados para adquirir nuevos activos (que se supone generan una mayor ganancia de capital o ingresos en comparación con el costo de los préstamos).</p>
      </div>
    </div>
    <div class="carousel-item mi-carrusel">
      <img src="/img/patrimonio.png" class="d-block rounded-pill" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p class="bg-light text-dark p-2 border border-info border-3 rounded">Patrimonio: es el conjunto de bienes que posees, sobre los que puedes hacer valer un título o un derecho y que puedes vender, traspasar o regalar, es decir, disponer de ellos. Este patrimonio lo puedes adquirir por medio de una herencia, pero también lo adquieres a lo largo de tu vida.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>