<form class="mb-3">
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Ingresos: $<input id="totalIngresos" class="ms-3" type="number" value="0" disabled>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">

          <div id="alerta-presupuesto-ingresos" style="display: none">
            <p class="alerta-presupuesto-ingresos">Falta ingresar: Tipo de Ingreso y/o Monto <button id="btn-alerta-presupuesto-ingresos" type="button" class="text-danger bg-transparent border-0 rounded-circle" onclick="ocultarAlertaPresupuestoIngreso()" onblur="ocultarAlertaPresupuestoIngreso()"><i class="bi bi-x-circle-fill"></i></button></p>
          </div>

          <div id="" class="input-group mb-3">

            <div class="form-floating me-2">
              <select class="form-select" id="tipoIngreso" aria-label="Floating label select example">
                <option value="" selected disabled>Seleccione Opción</option>
                <option value="Liquidación de Sueldo">Liquidación de Sueldo</option>
                <option value="Boleta de Honorarios">Boleta de Honorarios</option>
                <option value="Arriendo Porpiedades">Arriendo Porpiedades</option>
                <option value="Otros">Otros</option>
              </select>
              <label for="tipoIngreso">Tipo de Ingreso</label>
            </div>

            <div class="form-floating me-2">
              <input id="montoIngreso" type="number" class="form-control" placeholder="Ingrese monto líquido mensual" aria-label="Recipient's username with two button addons">
              <label for="montoIngreso">Monto Líquido Mensual</label>
            </div>

            <div class="form-floating me-2">
              <input id="comentarioIngreso" type="text" class="form-control" placeholder="Observaciones" aria-label="Recipient's username with two button addons">
              <label for="comentarioIngreso">Comentarios</label>
            </div>

            <button class="btn btn-success" type="button" onclick="sumarIngreso()" title="agregar"><i class="bi bi-plus-circle"></i></button>

          </div>

          <table id="tablaIngresos" class="table prueba" style="display: none;">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Tipo de Ingreso</th>
                <th scope="col">Monto Líquido Mensual</th>
                <th scope="col">Observaciones</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody id="filasIngresos">
              <!--Aquí va la función contructora de la tabla-->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>

<form class="mb-3">
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
          Gastos Financieros: $<input id="totalGastoFinanciero" class="ms-3" type="number" value="0" disabled>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">

          <div id="alerta-presupuesto-gasto" style="display: none">
            <p class="alerta-presupuesto-ingresos">Falta ingresar: Tipo de Gasto, Monto Adeudado y/o Cuota Mensual <button id="btn-alerta-presupuesto-gasto" type="button" class="text-danger bg-transparent border-0 rounded-circle" onclick="ocultarAlertaPresupuestoIngreso()" onblur="ocultarAlertaPresupuestoIngreso()"><i class="bi bi-x-circle-fill"></i></button></p>
            
          </div>

          <div id="" class="input-group mb-3">

            <div class="form-floating me-2">
              <select class="form-select" id="tipoGastoFinanciero" aria-label="Floating label select example">
                <option value="" selected disabled>Seleccione Opción</option>
                <option value="Liquidación de Sueldo">Crédito Consumo</option>
                <option value="Boleta de Honorarios">Crédito Comercial</option>
                <option value="Arriendo Porpiedades">Crédito Hipotecario</option>
                <option value="Arriendo Porpiedades">Línea de Crédito</option>
                <option value="Arriendo Porpiedades">Tarjeta de Crédito</option>
                <option value="Otros">Otros</option>
              </select>
              <label for="tipoGastoFinanciero">Tipo de Gasto</label>
            </div>

            <div class="form-floating me-2">
              <input id="montoGastoFinanciero" type="number" class="form-control" placeholder="Monto Adeudado" aria-label="Recipient's username with two button addons">
              <label for="montoGastoFinanciero">Monto Adeudado</label>
            </div>

            <div class="form-floating me-2">
              <input id="montoCuotaMensual" type="number" class="form-control" placeholder="Cuota Mensual" aria-label="Recipient's username with two button addons">
              <label for="montoCuotaMensual">Cuota Mensual</label>
            </div>

            <div class="form-floating me-2">
              <input id="comentarioGastoFinanciero" type="text" class="form-control" placeholder="Comentarios" aria-label="">
              <label for="comentarioGastoFinanciero">Comentarios</label>
            </div>

            <button class="btn btn-success" type="button" onclick="sumarGastoFinanciero()" title="agregar"><i class="bi bi-plus-circle"></i></button>

          </div>

          <table id="tablaGastosFinancieros" class="table prueba" style="display: none;">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Tipo de Gasto</th>
                <th scope="col">Monto Adeudado</th>
                <th scope="col">Cuota Mensual</th>
                <th scope="col">Observaciones</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody id="filasGastosFinancieros">
              <!--Aquí va la función contructora de la tabla-->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>