<div class="accordion mx-3 mb-3" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Indicaciones:
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p class="text-start m-0"><i class="bi bi-info-circle"></i> Aplicable para personas naturales sin giro comercial</p>
        <p class="text-start m-0"><i class="bi bi-coin"></i> Ingresa tus datos financieros</p>
        <p class="text-start m-0"><i class="bi bi-calculator-fill"></i> Presiona el botón calcular para ver tus indicadores</p>
        <p class="text-start m-0"><i class="bi bi-file-earmark-bar-graph"></i> Presiona el botón informe para revisar tu situción financiera.</p>
      </div>
    </div>
  </div>
</div>