<nav class="navbar navbar-expand-lg navbar-light bg-primary mb-3">
  <div class="container-fluid">
    <a class="navbar-brand text-white ms-3" href="/"><img src="/img/iconoAlma.ico" class="rounded-circle" width="30" height="30" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/calculadora">Calculadora</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/presupuesto">Presupuesto</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/registro">Regístrate</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Inicia Sesión
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item bi bi-person-fill" href="/login-cliente"> Cliente</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item bi bi-headset" href="/login-asesor"> Asesor</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>