<!DOCTYPE html>

<html lang="es">

<head>
{{> cabecera}}
</head>
  
<body class="bg-light text-center">

  {{> menuDashboard}} 

  {{> bienvenidaAsesor}}

  {{> listaCitas}}

  {{> pie }}

</body>

</html>