<!DOCTYPE html>

<html lang="es">

<head>
{{> cabecera}}
</head>
  
<body class="mx-3 bg-light text-center">

  {{> menu }}

  <div class="card mb-3" style="max-width: 100%">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="card-body">
          <div class="my-5 border border-success rounded-pill">
            <h1 class="my-3">...AlmA finan<i class="bi bi-coin"></i>iera...</h1>
          </div>
          <p class="card-text mb-3 fs-4">
            En ALMA Financiera, queremos ayudarte a que conozcas como está tu nivel de endeudamiento personal, para ello, al igual que las empresas, exiten algunos indicadores o ratios financieros que pueden ser de mucha utilidad.
          </p>
          <p class="card-text mb-3 fs-4">
            <a href="/registro">Regístrate</a> en nuestra plataforma, ingresa tus datos financieros y nuestro semáforo te indicará si tu nivel de deuda es sano, regular o malo. Si necesitas una asesoría más detallada, agenda una cita y te contactaremos para el día y la hora que nos indiques.
          </p>
        </div>
      </div>
      <div class="col-md-6 p-3">
        {{> carrusel}}
      </div>
    </div>
  </div>

  {{> pie}}

</body>

</html>