<!DOCTYPE html>

<html lang="es">

  <head>

    {{> cabecera}}

  </head>
    
  <body class="bg-light text-center">

    {{> menu }}

    <div class="card mx-3 mb-3">
      <div class="row g-0">
        <div class="col-md-6">
          <div class="card-body">
            <p class="card-text">En <b class="fs-5">ALMA Finan<i class="bi bi-coin"></i>iera</b> , queremos ayudarte a que conozcas como está tu nivel de endeudamiento personal, para ello, al igual que las empresas, exiten algunos indicadores o ratios financieros que pueden ser de mucha utilidad.</p>
            <p class="card-text">Accede a nuestra <a href="/calculadora">calculadora</a>, ingresa tus datos financieros y nuestro semáforo te indicará si tu nivel de deuda es el adecuado para tu nivel de ingresos.</p>
            <p class="card-text"></p>
            <p class="card-text mb-5">Si necesitas una asesoría más detallada, para organizar tus finanzas personales, <a href="/registro">regístrate</a> de manera <b>GRATUITA</b> en nuestra plataforma, donde podrás agendar una cita con un experto, quien te guiará para que puedas lograr tus objetivos financieros.</p>
            <h3 class="">¡Equipo Alma Finan<i class="bi bi-coin"></i>iera!</h3>
          </div>
        </div>
        <div class="col-md-6">
          <img src="/img/finanzas.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
      </div>
    </div>

    <!--
    <div class="card mx-3 mb-3">
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Accordion Item #1
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Accordion Item #2
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              Accordion Item #3
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
    </div>
    -->

    {{> pie}}

  </body>

</html>