<!DOCTYPE html>

<html lang="es">

  <head>

    {{> cabecera}}

  </head>
    
  <body class="bg-light text-center">

    {{> menu }}

    <div class="card mx-3 mb-3">
      <div class="row g-0">
        <div class="col-md-6">
          <div class="card-body">
            <!--<h1 class="card-title mb-3">...ALMA finan<i class="bi bi-coin"></i>iera...</h5>-->
            <p class="card-text">En <b class="fs-5">ALMA Finan<i class="bi bi-coin"></i>iera</b> , queremos ayudarte a que conozcas como está tu nivel de endeudamiento personal, para ello, al igual que las empresas, exiten algunos indicadores o ratios financieros que pueden ser de mucha utilidad.</p>
            <p class="card-text">Accede a nuestra <a href="/calculadora">calculadora</a>, ingresa tus datos financieros y nuestro semáforo te indicará si tu nivel de deuda es el adecuado para tu nivel de ingresos.</p>
            <p class="card-text"></p>
            <p class="card-text mb-5">Si necesitas una asesoría más detallada, para organizar tus finanzas personales, <a href="/registro">regístrate</a> de manera <b>GRATUITA</b> en nuestra plataforma, donde podrás agendar una cita con un experto, quien te guiará para que puedas lograr tus objetivos financieros.</p>
            <h3 class="">¡Equipo Alma Finan<i class="bi bi-coin"></i>iera!</h3>
          </div>
        </div>
        <div class="col-md-6">
          <img src="/img/finanzas.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
      </div>
    </div>

    {{> pie}}

  </body>

</html>