<!DOCTYPE html>

<html lang="es">

<head>
{{> cabecera}}
</head>
  
<body class="mx-3 bg-light text-center">

  {{> menu }}

  <div class="card mb-3" style="max-width: 100%">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="mb-5">...AlmA finan$iera...</h1>
          <p class="card-text mb- fs-5">
            En ALMA Financiera, queremos ayudarte a que conozcas como está tu nivel de endeudamiento personal, para ello, al igual que las empresas, exiten algunos indicadores o ratios financieros que pueden ser de mucha utilidad.
          </p>
          <p class="card-text mb-3 fs-5">
            Regístrate en nuestra plataforma, ingresa tus datos financieros y nuestro semáforo te indicará si tu nivel de deuda es sano, regular o malo. Si necesitas una asesoría más detallada, agenda una cita y te contactaremos para el día y la hora que nos indiques.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="/img/finanzas.jpeg" class="img-fluid rounded-start my-3 mi-img-principal" alt="...">
      </div>
    </div>
  </div>

  {{> pie}}

</body>

</html>