<!DOCTYPE html>

<html lang="es">

<head>
{{> cabecera}}
</head>
  
<body class="mx-3 bg-light text-center">

  {{> menu }}

  {{> bienvenida}}

  <div class="col-sm-12 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-3">Mis Datos Personales</h5>        

          {{> datosPersonales}}

      </div>
    </div>
  </div>


  {{> pie }}

</body>

</html>