<!DOCTYPE html>

<html lang="es">

<head>
{{> cabecera}}
</head>
  
<body class="mx-3 bg-light text-center">

  {{> menu }}

  <h1 class="mt-5 mb-3"><i class="bi bi-headset"></i></h1>
  <h1 class="">Bienvenid@</h1>
  <H3 class="mb-5">Ingresa Tus Credenciales De Asesor</H3>

  <form method="post" action="/login" enctype="multipart/form-data" class="mb-5">
    <div class="form-group row w-50 m-auto">
      <div class="form-group col-12 col-sm-6 mb-3">
        <label>Rut</label>
        <input id="rut" name="rut" class="form-control m-auto text-center" required/>
      </div>
      <div class="form-group col-12 col-sm-6 mb-3">
        <label>Password</label>
        <input id="password" name="password" type="password" class="form-control m-auto text-center" required/>
      </div>
    </div>
    <button class="btn btn-success my-5 bi bi-box-arrow-in-right">...iniciar sesión</button>
  </form>

  {{> pie }}

</body>

</html>