<!DOCTYPE html>

<html lang="es">

<head>
{{> cabecera}}
</head>
  
<body class="bg-light text-center">

  {{> menu }}

  <div class="card text-center mx-3 mb-3">
    <h1 class="mt-5 mb-3"><i class="bi bi-person-circle"></i></h1>
    <h3 class="">Bienvenid@</h1>
    <h4 class="mb-5">Ingresa Tus Credenciales De Cliente</h4>

    <form method="post" action="/login" enctype="multipart/form-data" class="mb-5">
      <div class="form-group row w-50 m-auto">
        <div class="form-group col-12 col-sm-6 mb-3">
          <label>Rut</label>
          <!-- <input id="rut" name="rut" class="form-control m-auto text-center" required/> -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
            <input id="rut" name="rut" type="text" class="form-control m-auto text-center" placeholder="11111111-K" aria-label="Username" aria-describedby="basic-addon1" required>
          </div>
        </div>
        <div class="form-group col-12 col-sm-6 mb-3">
          <label>Password</label>
          <!-- <input id="password" name="password" type="password" class="form-control m-auto text-center" required/> -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-lock-fill"></i></span>
            <input id="password" name="password" type="password" class="form-control m-auto text-center" placeholder="" aria-label="Password" aria-describedby="basic-addon1" required>
          </div>
        </div>
      </div>
      <button class="btn btn-success my-5 bi bi-box-arrow-in-right">...iniciar</button>
      <a href="/" class="btn btn-danger my-5 bi bi-skip-backward-fill"> ...volver</a>
    </form>
  </div>

  {{> pie }}

</body>

</html>