<!DOCTYPE html>

<html lang="es">

<head>
{{> cabecera}}
</head>
  
<body class="bg-light">

  {{> menuDashboard }}

  <div class="alert alert-danger text-center align-self-center" style="width: 20rem">
    <i class="bi bi-exclamation-triangle-fill"></i>
    <p>Rut y/o Contraseña incorrectos</p>
  </div>
  <a href="/" class="btn btn-outline-danger bi bi-x-circle align-self-center" style="width: 20rem"> cerrar</a>

  {{> pie }}

</body>

</html>