<!DOCTYPE html>

<html lang="es">

  <head>
  {{> cabecera}}
  </head>
    
  <body class="bg-light text-center">
    {{> menu}}
    <h3 class="mt-3">Tu Presupuesto</h3>
    <div class="mb-3">
      <a href="/" class="mb-3">volver</a>
    </div>

    <div class="mb-3 mx-2">
      {{> presupuestoIngresos}}
    </div>

    <div class="mb-3 mx-2">
      {{> presupuestoGastosFinancieros}}
    </div>

    <!-- Modal Borrar Todos Los Ingresos -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-danger-subtle">
            <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-exclamation-triangle"></i><b> Alerta</b></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="formModalBorrarTodo" method="post">
            <div class="modal-body border-top border-danger">
                <p>¿Seguro que quiere eliminar todos los <b id="modalMensajeAlerta"></b> registrados en su formulario de presupuesto?</p>
            </div>
            <div class="modal-footer border-top border-danger bg-light">
              <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" data-bs-toggle="tooltip" data-bs-title="cancelar"><i class="bi bi-x-circle-fill"></i></button>
              <button class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-title="aceptar"><i class="bi bi-check-circle-fill"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Toast Mensajes de Aplicativo Presupuesto -->
    <div class="toast-container position-fixed top-0 end-0 p-2">
      <div id="toastPresupuesto" class="toast border border-warning bg-light-subtle text-start" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-warning-subtle">
          <strong class="me-auto">Notificación:</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          <p id="toastMensajePresupuesto"></p>
        </div>
      </div>
    </div>

    {{> pie}}
  </body>

</html>