<!DOCTYPE html>

<html lang="es">

<head>
{{> cabecera}}
</head>
  
<body class="mx-3 bg-light text-center">

  {{> menu }}

  <h1 class="my-5">Información Personal</h1>

  <form>
    <div class="form-group row w-50 m-auto">
      <div class="form-group col-12 col-sm-6 mb-3">
        <label>Rut</label>
        <input id="rut" name="rut" class="form-control m-auto" />
      </div>
      <div class="form-group col-12 col-sm-6 mb-3">
        <label>Email</label>
        <input id="email" name="email" class="form-control m-auto" />
      </div>
      <div class="form-group col-12 col-sm-6 mb-3">
        <label>Apellido Paterno</label>
        <input id="apellido_paterno" name="apellido_paterno" class="form-control m-auto" />
      </div>
      <div class="form-group col-12 col-sm-6 mb-3">
        <label>Apellido Materno</label>
        <input id="apellido_materno" name="apellido_materno" class="form-control m-auto" />
      </div>
      <div class="form-group col-12 col-sm-6 mb-3">
        <label>Nombres</label>
        <input id="nombre" name="nombre" class="form-control m-auto" />
      </div>
      <div class="form-group col-12 col-sm-6 mb-3">
        <label>Fecha de Nacimiento</label>
        <input id="fecha_nacimiento" name="fecha_nacimiento" class="form-control m-auto" />
      </div>
      <div class="form-group col-12 col-sm-6 mb-3">
        <label>Número de Celular</label>
        <input id="celular" name="celular" class="form-control m-auto" />
      </div>
      <div class="form-group col-12 col-sm-6 mb-3">
        <label>Comuna de Residencia</label>
        <input id="especialidad" name="especialidad" class="form-control m-auto" />
      </div>
      <div class="form-group col-12 col-sm-6 mb-3">
        <label>Password</label>
        <input id="password" name="password" type="password" class="form-control m-auto" />
      </div>
      <div class="form-group col-12 col-sm-6 mb-3">
        <label>Repita la Password</label>
        <input id="rep_password" name="rep_password" type="password" class="form-control m-auto" />
      </div>
      <div class="form-group col-12 col-sm-12">
        <label>Foto de perfil... </label>
        <input id="foto" type="file" name="foto"/>
      </div>
    </div>
    <button formmethod="POST" formenctype="multipart/form-data" class="btn btn-primary fs-5 my-5">Registrarme</button>
  </form>

  {{> pie }}

</body>

</html>