body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a.texto-menu {
  color: white;
}

.interlineado {
  line-height: 0%;
}

.mi-img-principal {
  max-width: 100%;
  max-height: 100%;
}

.mi-img-perfil {
  width: 150px;
  height: 150px;
}

.texto-resumen {
  display: none;
}

.texto-resumen p {
  line-height: 130%;
}

.img-size {
  width: 150px;
  height: 100px;
  margin-top: 10px;
}

@media (min-width: 600px) {
  .yo-texto-resumen {
    display: block;
  }
}