body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: small;
}

.img-principal {
  width: 100%;
  display: block;
 }

.mi-img-perfil {
  width: 100px;
  height: 100px;
  margin: 10px;
}

footer {
  margin-top: auto;
}

.alerta-registro-rut {
  color: red;
  font-size: small;
}

.alerta-agenda-hora {
  color: red;
  font-size: small;
}

.alerta-datosFinancieros-ingreso {
  color: red;
  font-size: small;
}

.alerta-presupuesto-ingresos {
  color: red;
  font-size: small;
}

.mi-alerta {
  margin: 0;
  text-align: center;
  border-radius: 0;
}

.tabla-prueba {
  font-size: small;
}

@media (max-width: 1024px) {

  .listass {
    display: none;
  };

};